
body {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
  }
  
  ul ul {
    font-weight: bold;
    font-style: italic;
  }
  
  h1, h2 {
    font-family: 'Cormorant Infant', serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #000;
    text-transform: capitalize;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 26px;
  }
  
  .double-line {
    line-height: 2;
  }
  
  .mail-box {
    width: 150px;
    background-color: #e3fff6;
    border: 5px solid #c2e4c2;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  
  
  .mail-box a {
    display: block;
    word-break: break-all;
  }
  
  p {
    text-align: justify;
  }
  
  
  .our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 16px;
  }
  
  .our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    background-size: cover; 
    background-position: center;
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 16px;
  }
  
  h2 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  body {
    font-family: 'PT Sans Narrow', sans-serif;
  }
  
  .ruler {
    width: 150px;
    background-color: lime;
    text-align: center;
  }
  .container {
    padding: 10px; /* Внутрішній відступ всередині контейнера */
    border: 2px solid lightgreen; /* Зелена обводка */
    background-color: #e0f7e9; /* Світло-зелений фон */
}
